---
layout: default.cn
---

<div class="home">
  <ul class="post-list">
      <li>
          <a class="post-link" href="/cn/category.html">目录</a>
      </li>
    {% for post in site.posts %}
    {% if post.url contains '/cn/' %}
      <li>
        <br>
        <h3>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h3>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y %H:%m" }}</span>
        <hr id="line">
		<div class="content">
		{{ post.excerpt }}
        </div>
		<br>
      </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>
