<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Cache-Control" content="no-siteapp" />

    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    {% capture tags %}{% if post %}{% for tag in post.tags %}{{tag}},{% endfor %}{% else %}{% for tag in page.tags %}{{tag}},{% endfor %}{% endif %}{% endcapture %}
    <meta name="keywords" content="{% if post and post.tags.size > 0 %}{{tags}}tboox{% elsif page and page.tags.size > 0 %}{{tags}}tboox{% else %}{{site.keywords}}{% endif %}" /> 

    <!-- qq oauth -->
    <meta property="qc:admins" content="5211601217706727767255" />

    <! --icon -->
    <link rel="shortcut icon" href="{{site.baseurl}}/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="192x192" href="{{site.baseurl}}/static/img/nice-highres.png" />
	<link rel="apple-touch-icon-precomposed" href="{{site.baseurl}}/static/img/apple-touch-icon-57x57-precomposed.png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{site.baseurl}}/static/img/apple-touch-icon-72x72-precomposed.png" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{site.baseurl}}/static/img/apple-touch-icon-114x114-precomposed.png" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{site.baseurl}}/static/img/apple-touch-icon-144x144-precomposed.png" />
	<link rel="apple-touch-icon-precomposed" sizes="180x180" href="{{site.baseurl}}/static/img/retinahd_icon.png" />
	<meta name="msapplication-TileImage" content="{{site.baseurl}}/static/img/retinahd_icon.png" />
	
    <link rel="stylesheet" href="{{ " /css/fontawesome/css/font-awesome.min.css " | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ " /css/main.css " | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml " | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" hreflang="en" href="{{site.url}}/" />
    <link rel="alternate" hreflang="zh-Hans" href="{{site.url}}/cn/" />

{% if site.baidu_tongji_id %}
    <script>
    // 百度统计代码
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?{{site.baidu_tongji_id}}";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
{% endif %}
{% if site.google_analytics_id %}
    <script>
    // google analytics
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', '{{site.google_analytics_id}}', 'auto');
      ga('send', 'pageview');

    </script>
{% endif %}

    <script type="text/javascript">
    function isPC(){    
        var userAgentInfo = navigator.userAgent;  
        var Agents = new Array("Android", "iPhone", "SymbianOS", "Windows Phone", "iPad", "iPod");    
        var flag = true;    
        for (var v = 0; v < Agents.length; v++) {    
            if (userAgentInfo.indexOf(Agents[v]) > 0) { flag = false; break; }    
        }    
        return flag;    
    }
    </script>

    <!-- baidu ads -->
    {% if site.baiduads_slide_id2 %}
    <script type="text/javascript">
        var cpro_id = isPC()? "" : "{{site.baiduads_slide_id2}}";
    </script>
    <script type="text/javascript" src="http://cpro.baidustatic.com/cpro/ui/cm.js"></script>
    {% endif %}
</head>
