<header class="header">
	<div class="header-container">
		<div class="nav">
			{% if page.path == "cn/index.html" %}
			<span class="title">
				<li>
					<a href="/cn/index.html">主页</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/cn/index.html">主页</a>
				</li>			
			{% endif %}
			{% if page.path == "cn/blog.html" %}
			<span class="title">
				<li>
					<a href="/cn/blog/html">博客</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/cn/blog.html">博客</a>
				</li>			
			{% endif %}
			{% if page.path == "cn/documents.html" %}
			<span class="title">
				<li>
					<a href="/cn/documents.html">文档</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/cn/documents.html">文档</a>
				</li>			
			{% endif %}
			{% if page.path == "cn/downloads.html" %}
			<span class="title">
				<li>
					<a href="/cn/downloads.html">下载</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/cn/downloads.html">下载</a>
				</li>			
			{% endif %}
			{% if page.path == "cn/donation.html" %}
			<span class="title">
				<li>
					<a href="/cn/donation.html">捐助</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/cn/donation.html">捐助</a>
				</li>			
			{% endif %}
			{% if page.path == "cn/about.html" %}
			<span class="title">
				<li>
					<a href="/cn/about.html">关于</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/cn/about.html">关于</a>
				</li>			
			{% endif %}
		</div>
		<div class="description"> {{ site.motto_cn }} </div>		
		<ul class="social-links">
			<li>
				<a href="https://github.com/{{ site.github_username }}" title="Github">
					<img width="19px" height="19px" src="/images/github.png"/>
				</a>
			</li>
			<li>
				<a href="/feed.xml" title="RSS">
					<img width="19px" height="19px" src="/images/rss.png"/>
				</a>
			</li>
			<li>
				<a href="https://twitter.com/{{ site.twitter_username }}" title="Twitter">
					<img width="19px" height="19px" src="/images/twitter.png"/>
				</a>
			</li>
		</ul>		
	</div>
</header>
