<header id="top">
    <div class="wrapper">
        <a href="{{ site.baseurl }}/" class="brand">{{ site.sitename }}</a>
        <button id="headerMenu" class="menu"><i class="fa fa-bars"></i></button>
        <nav id="headerNav">
            <ul>
                <li>
                    {% if page.url == '/' %}
                    <a class="active" href="{{site.baseurl}}/cn">
                        {% else %}
                    <a href="{{site.baseurl}}/cn">
                    {% endif %}
                        <i class="fa fa-home"></i>中文
                    </a>
                </li>

                {% for my_page in site.pages %}
                    {% if my_page.title %}
                     {% unless my_page.url contains '/cn/' %}
                     {% unless my_page.url contains '.xml' %}
                    <li>

                        {% if my_page.url == page.url %}
                        <a class="active" href="{{ my_page.url | prepend: site.baseurl }}">
                        {% else %}
                            {% if my_page.url contains "community" %}
                            <a href="https://github.com/tboox/community/issues">
                            {% else %}
                            <a href="{{ my_page.url | prepend: site.baseurl }}">
                            {% endif %}
                        {% endif %}
                            <i class="fa fa-{{my_page.icon}}"></i>{{ my_page.title }}
                        </a>
                    </li>
                    {% endunless %}
                    {% endunless %}
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>
</header>
