<div class="post-recent">
    <div class="pre">

        {% for post in site.posts %}

        {% if previous %}
            {% assign previous = previous.previous %}
        {% else %}
            {% assign previous = page.previous %}
        {% endif %}

        {% if previous %}
        {% unless previous.url contains '/cn/' %}
        <p><strong>Prev Post</strong> <a href="{{ previous.url | prepend: site.baseurl }}">{{ previous.title }}</a></p>
        {% break %}
        {% endunless %}
        {% endif %}

        {% endfor %}
    </div>

    <div class="nex">

        {% for post in site.posts %}

        {% if next %}
            {% assign next = next.next %}
        {% else %}
            {% assign next = page.next %}
        {% endif %}

        {% if next %}
        {% unless next.url contains '/cn/' %}
        <p><strong>Next Post</strong> <a href="{{ next.url | prepend: site.baseurl }}">{{ next.title }}</a></p>
        {% break %}
        {% endunless %}
        {% endif %}

        {% endfor %}
    </div>
</div>
