<div class="post-recent">
    <div class="pre">

        {% for post in site.posts %}

        {% if previous %}
            {% assign previous = previous.previous %}
        {% else %}
            {% assign previous = page.previous %}
        {% endif %}

        {% if previous %}
        {% if previous.url contains '/cn/' %}
        <p><strong>上一篇</strong> <a href="{{ previous.url | prepend: site.baseurl }}">{{ previous.title }}</a></p>
        {% break %}
        {% endif %}
        {% endif %}

        {% endfor %}
    </div>

    <div class="nex">

        {% for post in site.posts %}

        {% if next %}
            {% assign next = next.next %}
        {% else %}
            {% assign next = page.next %}
        {% endif %}

        {% if next %}
        {% if next.url contains '/cn/' %}
        <p><strong>下一篇</strong> <a href="{{ next.url | prepend: site.baseurl }}">{{ next.title }}</a></p>
        {% break %}
        {% endif %}
        {% endif %}

        {% endfor %}
    </div>
</div>
