/**
 * Syntax highlighting styles
 */
code {

    padding: 1px 4px;
    margin: 0 2px;
    font-size: 10px;
    border-radius: 3px;
    color: #000;
    background-color: rgba(0, 0, 0, 0.06);
    border: 1px solid #d7d0d2;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

pre {

    margin: 12px 0;
    line-height: 20px;
    padding: 8px 12px;
    //  overflow-x: auto;
    word-wrap: break-word;      /* IE 5.5-7 */
    white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
    white-space: pre-wrap;      /* current browsers */
    > code {
        margin: 0;
        padding: 0;
        font-size: 10px;
        color:black;
        border: none;
        background-color: #f0f0f0
    }
}


.highlight {

    border-radius: 3px;

    background: #f0f0f0;
    .hll { background-color: #f0f0f0 }
    .c { color: green; font-style: italic } /* Comment */
    .err { color: #a40000; border: 1px solid #ef2929 } /* Error */
    .g { color: #000000 } /* Generic */
    .k { color: blue } /* Keyword */
    .l { color: #000000 } /* Literal */
    .n { color: #000000 } /* Name */
    .o { color: black; font-weight: bold } /* Operator */
    .x { color: #000000 } /* Other */
    .p { color: #000000; font-weight: bold } /* Punctuation */
    .cm { color: green; font-style: italic } /* Comment.Multiline */
    .cp { color: green; font-style: italic } /* Comment.Preproc */
    .c1 { color: green; font-style: italic } /* Comment.Single */
    .cs { color: green; font-style: italic } /* Comment.Special */
    .gd { color: #a40000 } /* Generic.Deleted */
    .ge { color: #000000; font-style: italic } /* Generic.Emph */
    .gr { color: #red } /* Generic.Error */
    .gh { color: #000080; font-weight: bold } /* Generic.Heading */
    .gi { color: #00A000 } /* Generic.Inserted */
    .go { color: #000000; font-style: italic } /* Generic.Output */
    .gp { color: #8f5902 } /* Generic.Prompt */
    .gs { color: #000000; font-weight: bold } /* Generic.Strong */
    .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
    .gt { color: #a40000; font-weight: bold } /* Generic.Traceback */
    .kc { color: #800080; font-weight: bold } /* Keyword.Constant */
    .kd { color: blue } /* Keyword.Declaration */
    .kn { color: blue } /* Keyword.Namespace */
    .kp { color: blue } /* Keyword.Pseudo */
    .kr { color: blue } /* Keyword.Reserved */
    .kt { color: blue } /* Keyword.Type */
    .ld { color: #800080 } /* Literal.Date */
    .m { color: #800080; font-weight: bold } /* Literal.Number */
    .s { color: #FF00FF } /* Literal.String */
    .na { color: black } /* Name.Attribute */
    .nb { color: black } /* Name.Builtin */
    .nc { color: black } /* Name.Class */
    .no { color: black } /* Name.Constant */
    .nd { color: black; font-weight: bold } /* Name.Decorator */
    .ni { color: black } /* Name.Entity */
    .ne { color: black; font-weight: bold } /* Name.Exception */
    .nf { color: black } /* Name.Function */
    .nl { color: black } /* Name.Label */
    .nn { color: black } /* Name.Namespace */
    .nx { color: black } /* Name.Other */
    .py { color: black } /* Name.Property */
    .nt { color: black; font-weight: bold } /* Name.Tag */
    .nv { color: black } /* Name.Variable */
    .ow { color: #204a87; font-weight: bold } /* Operator.Word */
    .w { color: #f8f8f8; text-decoration: underline } /* Text.Whitespace */
    .mf { color: #800080; font-weight: bold } /* Literal.Number.Float */
    .mh { color: #800080; font-weight: bold } /* Literal.Number.Hex */
    .mi { color: #800080; font-weight: bold } /* Literal.Number.Integer */
    .mo { color: #800080; font-weight: bold } /* Literal.Number.Oct */
    .sb { color: #FF00FF } /* Literal.String.Backtick */
    .sc { color: #FF00FF } /* Literal.String.Char */
    .sd { color: #FF00FF; font-style: italic } /* Literal.String.Doc */
    .s2 { color: #FF00FF } /* Literal.String.Double */
    .se { color: #FF00FF } /* Literal.String.Escape */
    .sh { color: #FF00FF } /* Literal.String.Heredoc */
    .si { color: #FF00FF } /* Literal.String.Interpol */
    .sx { color: #FF00FF } /* Literal.String.Other */
    .sr { color: #FF00FF } /* Literal.String.Regex */
    .s1 { color: #FF00FF } /* Literal.String.Single */
    .ss { color: #FF00FF } /* Literal.String.Symbol */
    .bp { color: black } /* Name.Builtin.Pseudo */
    .vc { color: black } /* Name.Variable.Class */
    .vg { color: black } /* Name.Variable.Global */
    .vi { color: black } /* Name.Variable.Instance */
    .il { color: black; font-weight: bold } /* Literal.Number.Integer.Long */
}
