---
layout: default.cn
---
<p><br/></p>
<div id="index" class="row">
  <div class="col-sm-9">
    <div class="post-area ">
      <div class="post-list-body">
        <div class="all-posts" post-cate="All">
          {% for post in site.posts %}
          {% if post.url contains '/cn/' %}
            <a class="post-list-item" href="{{ post.url | prepend: site.baseurl }}">
              <h2>
              {{ post.title }}
              </h2>
              <span class="">{{ post.date | date: "%b %-d, %Y" }}</span>
            </a>
            <div class="post-area post">
            {{ post.excerpt }}
            {% if post.content != post.excerpt %}
                <strong><a href="{{ post.url | prepend: site.baseurl }}">阅读全文</a></strong>
            {% endif %}
            </div>
          {% endif %}
          {% endfor %}
        </div>
        <!-- <div class="posts-in-categories"> -->
        {% for category in site.categories %}
          <div post-cate="{{category | first}}">
            {% for posts in category  %}
              {% for post in posts %}
                {% if post.url %}
                {% if post.url contains '/cn/' %}
                  <a href="{{ post.url }}" class="post-list-item">
                    <h2>
                    {{ post.title }}
                    </h2>
                    <span class="">{{ post.date | date: "%b %-d, %Y" }}</span>
                  </a>
                {% endif %}
                {% endif %}
              {% endfor %}
            {% endfor %}
          </div>
        {% endfor %}
        <!-- </div> -->
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="shadow-corner-curl hidden-xs">
      <div class="categories-list-header">
        <input type="text" class="st-default-search-input"><br>
      </div>
      
      <a href="javascript:;" class="categories-list-item" cate="All">
        所有
      </a>
      {% for category in site.categories %}
        <a href="javascript:;" class="categories-list-item" cate="{{ category | first }}">
          {{ category | first }}
        </a>
      {% endfor %}
    </div>
  </div>

</div>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- tbooxorg -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5219622969547045"
     data-ad-slot="8852867212"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
