---
layout: default.cn
---
<div class="page clearfix" book>
    <div class="left">
        <h1>{{page.title}}</h1>
        <hr>
        {{content}}

        <!-- baidu ads -->
        {% if site.baiduads_id1 %}
        <script type="text/javascript">
            var cpro_id = isPC()? "{{site.baiduads_id1}}" : "";
        </script>
        <script type="text/javascript" src="http://cpro.baidustatic.com/cpro/ui/c.js"></script>
        {% endif %}
    </div>

    <!-- baidu ads -->
    {% if site.baiduads_id3 %}
    <script type="text/javascript">
        var cpro_id = isPC()? "" : "{{site.baiduads_id3}}";
    </script>
    <script type="text/javascript" src="http://cpro.baidustatic.com/cpro/ui/cm.js"></script>
    {% endif %}
</div>
