---
layout: default.cn
---

<div class="page clearfix" post>
    <div class="left">
        <h1>{{page.title}}</h1>
        <div class="label">

            <div class="label-card">
                <i class="fa fa-calendar"></i>{{ page.date | date: "%F" }}
            </div>

            <div class="label-card">
                {% if page.author %}<i class="fa fa-user"></i>{{ page.author }}
                {% endif %}
            </div>

            <div class="label-card">
                {% if page.meta %}<i class="fa fa-key"></i>{{ page.meta }}  {% endif %}
            </div>

            <div class="label-card">
            {% include category.cn.html %}
            </div>

            <div class="label-card">
            {% include tag.cn.html %}
            </div>

        </div>
        <hr>
        <article itemscope itemtype="http://schema.org/BlogPosting">
        {{content}}
        </article>
        <hr>

        <!-- baidu ads -->
        {% if site.baiduads_slide_id1 %}
        <script type="text/javascript">
            var cpro_id = isPC()? "{{site.baiduads_slide_id1}}" : "";
        </script>
        <script type="text/javascript" src="http://cpro.baidustatic.com/cpro/ui/c.js"></script>
        {% endif %}

        {% assign hasEnglish = '' %}
        {% for post in site.posts %}
            {% unless post.url contains '/cn/' %}
            {% assign postHasEnglish = false %}
                {% if postHasEnglish == false and hasEnglish.size < 6 and post != page and page.url contains post.url %}
                    {% if hasEnglish.size == 0 %}
                    <h2 id="english">English</h2>
                    <ul>
                    {% endif %}
                    <li class="relatedPost">
                        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}
                        {% if post.series %}
                            (Series: {{ post.series }})
                        {% endif %}
                        </a>
                    </li>
                    {% capture hasEnglish %}{{ hasEnglish }}*{% endcapture %}
                    {% assign postHasEnglish = true %}
                {% endif %}
            {% endunless %}
        {% endfor %}
        {% if hasEnglish.size > 0 %}
            </ul>
        {% endif %}

        {% assign hasSimilar = '' %}
        {% for post in site.related_posts %}
            {% if post.url contains '/cn/' %}
            {% assign postHasSimilar = false %}
            {% for tag in post.tags %}
                {% for thisTag in page.tags %}
                    {% if postHasSimilar == false and hasSimilar.size < 6 and post != page and tag == thisTag %}
                        {% if hasSimilar.size == 0 %}
                        <h2 id="similar_posts">相关文章</h2>
                        <ul>
                        {% endif %}
                        <li class="relatedPost">
                            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}
                            {% if post.series %}
                                (Series: {{ post.series }})
                            {% endif %}
                            </a>
                        </li>
                        {% capture hasSimilar %}{{ hasSimilar }}*{% endcapture %}
                        {% assign postHasSimilar = true %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
            {% endif %}
        {% endfor %}
        {% if hasSimilar.size > 0 %}
            </ul>
        {% endif %}

        {% include prev_next.cn.html %}

        <h2 id="comments">评论</h2>
        {% include comments.html %}

    </div>
    <button class="anchor"><i class="fa fa-anchor"></i></button>
    <div class="right">
        <div class="wrap">

            <!-- Content -->
            <div class="side content">
                <div>
                    内容
                </div>
                <ul id="content-side" class="content-ul">
                    <li><a href="#english">English</a></li>
                    <li><a href="#similar_posts">相关文章</a></li>
                    <li><a href="#comments">评论</a></li>
                </ul>
            </div>
            
            <br>
            <div class="side">
                <div>
                    <i class="fa fa-external-link"></i>
                    链接
                </div>
                <ul class="content-ul">
                  <li><a href="http://github.com/waruqi/tbox">tbox</a></li>
                  <li><a href="http://www.xmake.io">xmake</a></li>
                  <li><a href="https://github.com/waruqi">github</a></li>
                </ul>
            </div> 

            <!-- qqgroup -->
            <br>
            <div class="side">
                <div>
                    <i class="fa fa-external-link"></i>
                    技术交流群（QQ）
                </div>
                <img src="/static/img/qqgroup.png" alt="qqgroup" width="256" height="284">
            </div> 

            <!-- google ads -->
            {% if site.adsbygoogle_client %}
            <br>
            <div class="side">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <ins class="adsbygoogle"
                     style="display:inline-block;width:336px;height:280px"
                     data-ad-client="{{ adsbygoogle_client }}"
                     data-ad-slot="{{ adsbygoogle_slot }}"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div> 
            {% endif %}

            <!-- baidu ads -->
            {% if site.baiduads_slide_id0 %}
            <br>
            <script type="text/javascript">
                var cpro_id = isPC()? "{{site.baiduads_slide_id0}}" : "";
            </script>
            <script type="text/javascript" src="http://cpro.baidustatic.com/cpro/ui/c.js"></script>
            {% endif %}

        </div>
    </div>

    <!-- baidu ads -->
    {% if site.baiduads_slide_id3 %}
    <script type="text/javascript">
        var cpro_id = isPC()? "" : "{{site.baiduads_slide_id3}}";
    </script>
    <script type="text/javascript" src="http://cpro.baidustatic.com/cpro/ui/cm.js"></script>
    {% endif %}
</div>
<script>
/**
 * target _blank
 */
(function() {
    var aTags = document.querySelectorAll('article a:not([id])')
    for (var i = 0; i < aTags.length; i++) {
        aTags[i].setAttribute('target', '_blank')
    }
}());
</script>
<script src="{{ "/js/pageContent.js " | prepend: site.baseurl }}" charset="utf-8"></script>

