---
layout: default.cn
---
<div class="page clearfix" demo>
    <div class="left">
        <h1>{{page.title}}</h1>
        <hr>
        {{content}}

        <!-- baidu ads -->
        {% if site.baiduads_slide_id1 and site.baiduads_slide_id2 %}
        <script type="text/javascript">
            var cpro_id = isPC()? "{{site.baiduads_slide_id1}}" : "{{site.baiduads_slide_id2}}";
        </script>
        <script type="text/javascript" src="http://cpro.baidustatic.com/cpro/ui/c.js"></script>
        <script type="text/javascript" src="http://cpro.baidustatic.com/cpro/ui/cm.js"></script>
        {% endif %}
    </div>
</div>
